// Colors
$white: #fff;
$black: #000;
$dark: #202020; // Dark is our black
$clear: transparent;
$dark-text: #333;
$orange: #FCCB8C;
$beige: #fdcb90;
$beige-hero: #fedab8;
$beige-faq: #f8dcc7;
$bg-light: #f8f8f8;
$gray-handle: #e3e3e3;
$gray-text: #606060;
$red: #D90000;
$light-red: #ff5b5b;
$light-gray: #A9A9A9;
$primary: #035C67;
$light-primary: #AFC0C7;
$deep-crimson: #843D4D;
$bg-gray: #EBEAE9;
$border: #d8d8d8;
$gray-blue: #ccd0d1;
$blue: #AAD9EB;
$blue-hero: #98c7de;
$light-blue: #bfdae1;
$green: #2DC291;
$backdrop: rgba(0, 0, 0, 0.7);
$active-link: rgba(255,0,0,1);